.contact-button {
    border: solid 3px #2081d8 ;
    background-color: #f8efed;
    padding : 8px 15px;
    font-weight: bold;
    color: #2081d8;
    transition: 450ms;
    font-size: 18px;

}

.contact-button:hover {
    transform: scale(1.05);
    background-color: #2081d8;
    color: white;
    border: solid 3px white;
    border-radius: 25px;
}

.contact-button a {
    text-decoration: none;
    color: #2081d8;
}

.contact-button:hover a {
    color: white;
}