.section-vide {
    height: 150px;
    background: url("../../images/triangle2white.svg") no-repeat center bottom/ 100%;
    background-color: #5c2e37;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 65px;
    text-decoration: underline;
}

@media (max-width: 768px) {

    .section-vide {
        margin-top: -1px;
    }
}