

.projet-contener {
    font-family: Arial, Helvetica, sans-serif;
    line-height:2;
    margin-top: 0px;
    
}

.projet-arrow-and-title {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    
}

.titre-and-barreH {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 550px;

}


.arrow-car {
    width: 45px;
    
}


.arrow-car.R {
    padding-right: 20px;
    transition: 250ms ease;
}

.arrow-car.R:hover {
    transform: translateX(10px);
    transition: 250ms ease;
}

.arrow-car.L {
  padding-left: 20px; 
  transition: 250ms ease; 
}

.arrow-car.L:hover {
    transform: translateX(-10px);
    transition: 250ms ease;
}

.projet-contener h2 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 500;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #2081d8;
    border-radius: 3px;
    border: 2px solid #1a6ab4;  
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.projet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-para-barre {
    padding: 0 20px;
}

.sectionDesc {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.sectionDesc h3 {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.divObj, .divTache, .divFonct {
    width: 48%;  
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);  
    padding: 20px 30px;
    line-height: 1.6;  
    background-color: #f9f9f9; 
    
    
    
}
.divScroll {
   overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    height: min-content; 
}


    .sectionDesc div p {
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.8;
        letter-spacing: 0.5px;
        color: #555;
        text-align: justify;
        background-color: #f0f0f0;
        padding: 8px 12px;
        border-radius: 5px;
     }
     
     .sectionDesc div p::before {
        content: "✔";
        color: #3498db;
        margin-right: 10px;
     }


.imgProjet {
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}


.projet-competence-content {
    margin: 50px 0 50px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

}

.competence-utilise {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.competence-utilise img {
    width: 30px;
}

.divVideo h3{
    font-weight: lighter;
    margin-bottom: 5px;
}

.divVideo video {
    border:#555 2px solid;
}

@media (max-width: 768px) {

    * {
        box-sizing: border-box; 
        
    }

    .projet-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .projet-contener h2 {
        font-size: 22px;
        padding : 0 10px;
    }

    .content-para-barre {
        padding: 0;
    }

    .barre-h {
        margin-bottom: 40px;
    }
    
    .projet-content .p-desc {
        padding: 0 20px;
        text-align: justify;
        font-size: 15px;
    }
    
    .projet-content video {
        width: 300px;
    }
    
    .contener-competence {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        
    }
    
    .projet-competence-content {
        margin: 20px 0 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .competence-utilise img {
        width: 30px;
    }
    #p-video {
        padding: 0 15px;
        text-align: center;
    }

    
.projet-arrow-and-title {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

    .titre-and-barreH {
        min-width: 200px;
    
    }

    .sectionDesc {
        flex-direction: column;

    }
    
    .sectionDesc h3 {
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .divObj, .divTache, .divFonct {
        width: 100%;  
    }
    

}