

.projet-contener {
    font-family: Arial, Helvetica, sans-serif;
    line-height:2;
    background-color: white;
    margin-top: 0px;
}

.projet-arrow-and-title {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    
}

.titre-and-barreH {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.arrow-car {
    width: 45px;
    
}

.arrow-car.R {
    padding-right: 20px;
}

.arrow-car.L {
  padding-left: 20px;  
}

.projet-contener h1 {
    text-align: center;
    margin: 0;
    font-size: 42px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    padding : 10px 25px;
}

.barre-h {
    width: 250px;
    height: 4px;
    background-color: #2081d8;
    margin-bottom: 65px;
}

.projet-contener h2 {
    font-size: 34px;  
    margin: 0;
}

.projet-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-para-barre {
    padding: 0 20px;
}

.projet-content .p-desc {
    font-size: 18px;
    margin-top: -5px;
}

.imgProjet {
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


.projet-competence-content {
    margin: 50px 0 50px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

}

#tech-utilise {
    padding: 10px 20px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.competence-utilise {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    
}

.competence-utilise img {
    width: 30px;
}

@media (max-width: 768px) {

    * {
        box-sizing: border-box; 
        
    }

    .projet-contener {
        margin-top: -1px;
    }


    .projet-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .projet-contener h1 {
        text-align: center;
        margin: 0;
        font-size: 28px;
    
    }
    
    .projet-contener h2 {
        font-size: 24px; 
  
    }

    .content-para-barre {
        padding: 0;
    }

    .barre-h {
        margin-bottom: 40px;
    }
    
    .projet-content .p-desc {
        padding: 0 20px;
        text-align: justify;
        font-size: 15px;
    }
    
    .projet-content video {
        width: 300px;
    }
    
    .contener-competence {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        
    }
    
    .projet-competence-content {
        margin: 20px 0 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .competence-utilise img {
        width: 30px;
    }
    #p-video {
        padding: 0 15px;
        text-align: center;
    }

}