

.header {

    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

    flex-direction: column;
    background-color: rgb(19, 19, 52);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    
   
}

.header-contact-and-barreV {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px

}

.header-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.header-contact a {
    color: rgb(255, 255, 255);

}

.content-img-and-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-header {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 60px;
    border: solid 2px rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}


.content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif

}

.name {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 38px;
    font-weight: bold;
}


.job {
    font-size: 18px;
    font-weight: lighter;
}

.text-img-content {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;;
    
}

.text-img-content img {
    border: 2px white solid;
    transition: photo 250ms ease;
}


@media (max-width: 768px) {
    
.header {
    flex-direction: column;   
}
.header-contact-and-barreV {
    position: static;
}
}
