
.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 19, 52);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    padding : 0 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    
}



.second-name-and-barreV {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.second-name-and-barreV .name {
    color: white;
}


@media (max-width: 768px) {
    
.second-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
}



.second-name-and-barreV {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.name {
    font-size: 28px;
}
}