.error-contener {
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg p {
    color: #2081d8;
    font-size: 100px;
    text-align: center;
}

.msg-fr {
    position: absolute;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;


}

@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; } 
}

.msg span {
    animation: colorChange 3s infinite;
}

.quatre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
}
#quatre {
    font-size: 150px;
    font-weight: bold;
    color: #2081d8;
    transition: scale 3s ease;
}

#quatre:hover {
    scale: 3;
}

.divRetourError {
    background-color: #2081d8;
    width: 120px;
    padding-bottom: 10px;
    border-radius: 5px;
 
}

@media (max-width: 768px) {

    .msg p {
        font-size: 50px;
       
    
    }

}
    

