.msg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg p {
    color: #2081d8;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;


}

@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; } /* Retour à la couleur de départ */
}

.msg span {
    animation: colorChange 3s infinite; /* 3 secondes de durée, répété à l'infini */
}

.quatre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
}
#quatre {
    font-size: 150px;
    font-weight: bold;
    color: #5c2e37;
    transition: scale 3s ease;
}

#quatre:hover {
    scale: 3;
}

@media (max-width: 768px) {

    .msg p {
        font-size: 50px;
       
    
    
    }

}